html
  head
    link(rel='stylesheet' href='css/main.css')
    script(data-main='main/lists.js' src='bower_components/requirejs/require.js')
    script(src='require/require.config.js')
  body
    h1 Hello World!
